[MASTER]
ignore=venv
disable=C0303,C0114,C0115,C0116,C0103,R0913,R0903,W1514,W1201,W1203,W0718,C0411,C0412


[TYPECHECK]
ignored-modules=connexion,yaml,pykafka
[BASIC]
good-names=i,j,k,e,ex,Run,_


[DESIGN]
broad-except=Yes

[LOGGER]

logging-format-interpolation=Yes

[FORMAT]
max-line-length=120
